In [1]:
import time
from time import sleep
import json
import ccxt
import requests
import datetime
import pandas as pd
import numpy as np
from scipy import optimize
from IPython.display import display

In [2]:
def getCandlestick(number, period):
        """
        number:ローソク足の数．period:ローソク足の期間（文字列で秒数を指定，Ex:1分足なら"60"）．cryptowatchはときどきおか
        しなデータ（price=0）が含まれるのでそれを除く．
        """

        now = datetime.datetime.now().strftime('%s') # 現在時刻の取得
        r = requests.get('https://testnet.bitmex.com/api/udf/history?symbol=XBTUSD&resolution=' + str(int(period)/60) + '&from=' +
        str(int(now)-int(period)*(number-1)) + '&to=' + now)
        ohlcv = r.json()
        df_ = pd.DataFrame(ohlcv)
        df_ = df_.rename(columns = {"c":"close", "h":"high", "l":"low", "o":"open", "t":"index", "v":"value"})
        df_ = df_[["index", "close", "low",  "high", "open", "s", "value"]]

        time_date = []
        for i in df_.iloc[:,0]:
            time = datetime.datetime.fromtimestamp(i)
            time_date.append(time)
        dti = pd.DatetimeIndex(time_date)
        df_["index"] = dti
        df_ = df_.set_index("index")
        df_ = df_.reset_index()
        #df_ = df_.rename(columns={'t': 'date_date'})
        df_ = df_.rename(columns={'index': 'date_date'})
        return df_

In [3]:
def psar(barsdata):

        length = len(barsdata)
        high = list(barsdata['high'])
        low = list(barsdata['low'])
        close = list(barsdata['close'])
        psar = close[0:len(close)]
        psarbull = [None] * length
        psarbear = [None] * length
        bull = True

        iaf = 0.01
        maxaf = 0.2

        af = iaf
        hp = high[0]
        lp = low[0]

        for i in range(2,length):
            if bull:
                psar[i] = psar[i - 1] + af * (hp - psar[i - 1])
            else:
                psar[i] = psar[i - 1] + af * (lp - psar[i - 1])

            reverse = False

            if bull:
                if low[i] < psar[i]:
                    bull = False
                    reverse = True
                    psar[i] = hp
                    lp = low[i]
                    af = iaf
            else:
                if high[i] > psar[i]:
                    bull = True
                    reverse = True
                    psar[i] = lp
                    hp = high[i]
                    af = iaf

            if not reverse:
                if bull:
                    if high[i] > hp:
                        hp = high[i]
                        af = min(af + iaf, maxaf)
                    if low[i - 1] < psar[i]:
                        psar[i] = low[i - 1]
                    if low[i - 2] < psar[i]:
                        psar[i] = low[i - 2]
                else:
                    if low[i] < lp:
                        lp = low[i]
                        af = min(af + iaf, maxaf)
                    if high[i - 1] > psar[i]:
                        psar[i] = high[i - 1]
                    if high[i - 2] > psar[i]:
                        psar[i] = high[i - 2]

            if bull:
                psarbull[i] = psar[i]
            else:
                psarbear[i] = psar[i]
        
        barsdata["psarbear"] = psarbear
        barsdata["psarbull"] = psarbull
        
        return barsdata

In [4]:
df_ =  getCandlestick(1200, "300")
result = psar(df_)
result = result.fillna(0)
result = result[10:len(result)]
result

,date_date,close,low,high,open,s,value,psarbear,psarbull
10,2018-05-19 19:25:00,8210.5,8206.0,8246.0,8230.0,ok,1001079,0.000000,8169.115000
11,2018-05-19 19:30:00,8214.5,8210.5,8214.5,8210.5,ok,54226,0.000000,8170.652700
12,2018-05-19 19:35:00,8215.0,8209.5,8218.0,8214.5,ok,193108,0.000000,8172.159646
13,2018-05-19 19:40:00,8226.5,8185.5,8250.0,8215.0,ok,4005476,0.000000,8173.636453
14,2018-05-19 19:45:00,8231.5,8226.0,8244.5,8226.5,ok,264449,0.000000,8175.927359
15,2018-05-19 19:50:00,8231.5,8218.5,8233.5,8231.5,ok,115388,0.000000,8178.149539
16,2018-05-19 19:55:00,8234.5,8232.0,8243.5,8231.5,ok,51688,0.000000,8180.305053
17,2018-05-19 20:00:00,8236.0,8200.5,8241.0,8234.5,ok,859729,0.000000,8182.395901
18,2018-05-19 20:05:00,8223.0,8219.5,8237.5,8236.0,ok,113101,0.000000,8184.424024
19,2018-05-19 20:10:00,8227.5,8222.5,8228.5,8223.0,ok,22541,0.000000,8186.391303
20,2018-05-19 20:15:00,8230.5,8221.0,8240.5,8227.5,ok,168644,0.000000,8188.299564
21,2018-05-19 20:20:00,8230.5,8230.5,8231.0,8230.5,ok,1643,0.000000,8190.150577
22,2018-05-19 20:25:00,8233.5,8230.5,8234.0,8230.5,ok,13852,0.000000,8191.946060
23,2018-05-19 20:30:00,8233.0,8231.0,8248.0,8233.5,ok,235028,0.000000,8193.687678
24,2018-05-19 20:35:00,8233.0,8230.5,8233.5,8233.0,ok,17411,0.000000,8195.377048
25,2018-05-19 20:40:00,8231.5,8230.5,8233.5,8233.0,ok,35507,0.000000,8197.015736
26,2018-05-19 20:45:00,8238.0,8228.5,8250.0,8231.5,ok,780478,0.000000,8198.605264
27,2018-05-19 20:50:00,8235.5,8232.5,8238.0,8238.0,ok,57165,0.000000,8200.147106
28,2018-05-19 20:55:00,8278.0,8212.0,8278.0,8235.5,ok,5650537,0.000000,8201.642693
29,2018-05-19 21:00:00,8285.0,8257.5,8300.0,8278.0,ok,5951819,0.000000,8204.696985
30,2018-05-19 21:05:00,8299.5,8284.5,8300.0,8285.0,ok,389873,0.000000,8209.462136
31,2018-05-19 21:10:00,8247.5,8207.5,8307.5,8299.5,ok,3507272,8300.000000,0.000000
32,2018-05-19 21:15:00,8243.0,8236.5,8248.0,8247.5,ok,100205,8307.500000,0.000000
33,2018-05-19 21:20:00,8226.0,8219.0,8242.0,8243.0,ok,220158,8307.500000,0.000000
34,2018-05-19 21:25:00,8222.5,8220.0,8227.0,8226.0,ok,116725,8306.500000,0.000000
35,2018-05-19 21:30:00,8233.0,8222.0,8236.0,8222.5,ok,202926,8305.510000,0.000000
36,2018-05-19 21:35:00,8239.0,8229.0,8239.0,8233.0,ok,51013,8304.529900,0.000000
37,2018-05-19 21:40:00,8247.0,8238.5,8263.0,8239.0,ok,513956,8303.559601,0.000000
38,2018-05-19 21:45:00,8248.0,8246.5,8248.0,8247.0,ok,11427,8302.599005,0.000000
39,2018-05-19 21:50:00,8243.5,8243.5,8251.5,8248.0,ok,179130,8301.648015,0.000000
...,...,...,...,...,...,...,...,...,...
1170,2018-05-23 20:05:00,8008.0,8007.0,8026.0,8015.0,ok,458024,0.000000,7947.788336
1171,2018-05-23 20:10:00,7996.0,7990.0,8008.0,8008.0,ok,1836717,0.000000,7952.564686
1172,2018-05-23 20:15:00,7992.0,7990.0,8000.0,7996.0,ok,1962310,0.000000,7957.197745
1173,2018-05-23 20:20:00,7999.0,7993.5,8008.5,7992.0,ok,162663,0.000000,7961.691813
1174,2018-05-23 20:25:00,7992.0,7985.0,7999.0,7999.0,ok,1612289,0.000000,7966.051058
1175,2018-05-23 20:30:00,7998.5,7991.5,7999.0,7992.0,ok,119261,0.000000,7970.279526
1176,2018-05-23 20:35:00,7998.5,7996.5,8001.0,7998.5,ok,583199,0.000000,7974.381141
1177,2018-05-23 20:40:00,7989.5,7989.0,7999.0,7998.5,ok,263165,0.000000,7978.359706
1178,2018-05-23 20:45:00,7980.0,7980.0,7989.5,7989.5,ok,464734,8107.000000,0.000000
1179,2018-05-23 20:50:00,7980.5,7980.0,7986.0,7980.0,ok,2830379,8105.730000,0.000000
1180,2018-05-23 20:55:00,7980.0,7980.0,7995.0,7980.5,ok,2501701,8104.472700,0.000000
1181,2018-05-23 21:00:00,7999.5,7983.5,8003.5,7980.0,ok,1532967,8103.227973,0.000000
1182,2018-05-23 21:05:00,8001.5,7994.0,8011.5,7999.5,ok,3104067,8101.995693,0.000000
1183,2018-05-23 21:10:00,8002.5,7994.0,8021.5,8001.5,ok,2625427,8100.775736,0.000000
1184,2018-05-23 21:15:00,8001.0,7994.0,8004.0,8002.5,ok,5913593,8099.567979,0.000000
1185,2018-05-23 21:20:00,8018.0,7980.5,8083.0,8001.0,ok,9888710,8098.372299,0.000000
1186,2018-05-23 21:25:00,7992.5,7980.5,8027.5,8018.0,ok,4955573,8097.188576,0.000000
1187,2018-05-23 21:30:00,8000.5,7990.0,8001.0,7992.5,ok,307514,8096.016690,0.000000
1188,2018-05-23 21:35:00,8023.0,7995.0,8040.0,8000.5,ok,3073717,8094.856524,0.000000
1189,2018-05-23 21:40:00,8018.0,8009.0,8024.0,8023.0,ok,357385,8093.707958,0.000000
1190,2018-05-23 21:45:00,8029.0,8016.5,8037.0,8018.0,ok,657196,8092.570879,0.000000
1191,2018-05-23 21:50:00,8059.0,7991.5,8074.5,8029.0,ok,5657481,8091.445170,0.000000
1192,2018-05-23 21:55:00,8011.5,8000.0,8058.5,8059.0,ok,3006287,8090.330718,0.000000
1193,2018-05-23 22:00:00,8002.5,8000.5,8012.0,8011.5,ok,830551,8089.227411,0.000000
1194,2018-05-23 22:05:00,8002.0,7999.0,8002.5,8002.5,ok,235320,8088.135137,0.000000
1195,2018-05-23 22:10:00,8004.0,8000.5,8004.5,8002.0,ok,48297,8087.053786,0.000000
1196,2018-05-23 22:15:00,8000.5,7992.0,8005.0,8004.0,ok,859157,8085.983248,0.000000
1197,2018-05-23 22:20:00,8001.0,7998.5,8003.5,8000.5,ok,59371,8084.923415,0.000000
1198,2018-05-23 22:25:00,7997.5,7997.5,8010.0,8001.0,ok,1297284,8083.874181,0.000000
1199,2018-05-23 22:30:00,8022.0,8000.0,8022.0,7997.5,ok,1005679,8082.835439,0.000000

In [5]:
bearin = pd.DataFrame()
for i in range(len(result)):
    if result.iloc[i]["psarbear"] != 0:
        if result.iloc[i-1]["psarbear"] == 0:
            bearin = bearin.append(result.iloc[i])

In [6]:
bearin

,close,date_date,high,low,open,psarbear,psarbull,s,value
31,8247.5,2018-05-19 21:10:00,8307.5,8207.5,8299.5,8300.0,0.0,ok,3507272.0
65,8260.5,2018-05-20 00:00:00,8282.0,8225.5,8263.0,8303.0,0.0,ok,1089070.0
98,8250.0,2018-05-20 02:45:00,8274.5,8246.0,8264.5,8305.0,0.0,ok,811885.0
137,8176.0,2018-05-20 06:00:00,8249.0,8171.0,8237.0,8256.5,0.0,ok,3562399.0
150,8204.0,2018-05-20 07:05:00,8254.0,8154.0,8247.0,8255.5,0.0,ok,10810527.0
222,8274.5,2018-05-20 13:05:00,8275.0,8261.0,8262.0,8277.0,0.0,ok,98417.0
224,8271.0,2018-05-20 13:15:00,8277.0,8251.0,8276.0,8277.0,0.0,ok,446305.0
274,8273.5,2018-05-20 17:25:00,8275.5,8246.0,8273.0,8277.0,0.0,ok,681151.0
305,8261.0,2018-05-20 20:00:00,8301.5,8210.0,8295.5,8322.0,0.0,ok,3981427.0
380,8437.0,2018-05-21 02:15:00,8451.5,8427.5,8449.0,8565.5,0.0,ok,704664.0
394,8385.0,2018-05-21 03:25:00,8469.5,8369.5,8469.5,8556.0,0.0,ok,5487507.0
440,8487.0,2018-05-21 07:15:00,8511.0,8459.0,8459.5,8600.0,0.0,ok,1986593.0
498,8400.0,2018-05-21 12:05:00,8452.0,8400.0,8437.5,8472.0,0.0,ok,2385349.0
515,8448.5,2018-05-21 13:30:00,8497.5,8430.5,8488.5,8500.0,0.0,ok,1243111.0
543,8405.5,2018-05-21 15:50:00,8426.5,8361.5,8391.5,8479.5,0.0,ok,1684914.0
582,8376.5,2018-05-21 19:05:00,8407.5,8365.0,8407.0,8451.5,0.0,ok,676459.0
605,8412.0,2018-05-21 21:00:00,8422.5,8364.5,8400.0,8469.5,0.0,ok,1802047.0
635,8418.0,2018-05-21 23:30:00,8441.0,8410.0,8440.0,8476.5,0.0,ok,652631.0
677,8341.0,2018-05-22 03:00:00,8407.5,8330.0,8401.5,8417.5,0.0,ok,7614631.0
695,8397.0,2018-05-22 04:30:00,8401.0,8327.0,8401.5,8420.0,0.0,ok,8962811.0
728,8389.5,2018-05-22 07:15:00,8419.0,8384.0,8419.0,8429.5,0.0,ok,609635.0
793,8363.5,2018-05-22 12:40:00,8364.0,8322.0,8322.0,8426.0,0.0,ok,476165.0
848,8300.5,2018-05-22 17:15:00,8379.5,8300.0,8350.5,8359.5,0.0,ok,13891293.0
853,8303.0,2018-05-22 17:40:00,8303.0,8291.0,8300.0,8389.0,0.0,ok,1666453.0
892,8196.0,2018-05-22 20:55:00,8245.5,8187.0,8237.5,8255.5,0.0,ok,5598581.0
899,8194.5,2018-05-22 21:30:00,8245.5,8180.0,8245.5,8259.0,0.0,ok,4477275.0
928,8282.5,2018-05-22 23:55:00,8283.0,8280.0,8282.0,8411.0,0.0,ok,1295014.0
992,8224.0,2018-05-23 05:15:00,8237.0,8211.5,8235.0,8273.0,0.0,ok,996677.0
1020,8070.0,2018-05-23 07:35:00,8160.0,8070.0,8159.5,8173.0,0.0,ok,9995281.0
1031,8013.0,2018-05-23 08:30:00,8081.0,8000.0,8048.5,8168.0,0.0,ok,7194674.0
1120,8030.5,2018-05-23 15:55:00,8030.5,8002.5,8024.5,8041.5,0.0,ok,3141725.0
1126,8007.0,2018-05-23 16:25:00,8023.0,8000.0,8020.5,8045.5,0.0,ok,1080976.0
1178,7980.0,2018-05-23 20:45:00,7989.5,7980.0,7989.5,8107.0,0.0,ok,464734.0

In [7]:
bullin = pd.DataFrame()
for i in range(len(result)):
    if result.iloc[i]["psarbull"] != 0:
        if result.iloc[i-1]["psarbull"] == 0:
            bullin = bullin.append(result.iloc[i])

In [8]:
bullin

,close,date_date,high,low,open,psarbear,psarbull,s,value
10,8210.5,2018-05-19 19:25:00,8246.0,8206.0,8230.0,0.0,8169.115,ok,1001079.0
49,8293.5,2018-05-19 22:40:00,8301.0,8267.0,8266.0,0.0,8207.500,ok,641492.0
73,8291.5,2018-05-20 00:40:00,8300.0,8291.5,8291.5,0.0,8225.500,ok,1545350.0
135,8240.5,2018-05-20 05:50:00,8256.5,8237.0,8239.0,0.0,8200.000,ok,1364763.0
149,8247.0,2018-05-20 07:00:00,8255.5,8189.5,8225.0,0.0,8171.000,ok,6201374.0
177,8212.5,2018-05-20 09:20:00,8214.0,8210.0,8210.0,0.0,8130.500,ok,40640.0
223,8276.0,2018-05-20 13:10:00,8277.0,8269.0,8274.5,0.0,8261.000,ok,129969.0
267,8262.0,2018-05-20 16:50:00,8268.0,8259.0,8264.0,0.0,8250.500,ok,68018.0
285,8279.5,2018-05-20 18:20:00,8279.5,8200.0,8236.0,0.0,8210.000,ok,5019042.0
315,8296.0,2018-05-20 20:50:00,8300.0,8290.0,8292.0,0.0,8195.000,ok,297947.0
389,8538.5,2018-05-21 03:00:00,8556.0,8455.5,8455.5,0.0,8427.500,ok,5992417.0
402,8500.5,2018-05-21 04:05:00,8553.0,8495.0,8503.0,0.0,8369.500,ok,5256517.0
481,8469.5,2018-05-21 10:40:00,8469.5,8409.0,8415.5,0.0,8394.500,ok,1046354.0
500,8477.5,2018-05-21 12:15:00,8477.5,8415.0,8421.5,0.0,8400.000,ok,4952928.0
536,8455.5,2018-05-21 15:15:00,8461.0,8415.0,8414.5,0.0,8350.000,ok,1323743.0
576,8398.5,2018-05-21 18:35:00,8451.5,8389.5,8440.0,0.0,8361.500,ok,2613109.0
595,8418.0,2018-05-21 20:10:00,8450.0,8411.0,8412.5,0.0,8365.000,ok,1879801.0
620,8451.5,2018-05-21 22:15:00,8459.5,8420.5,8440.0,0.0,8364.500,ok,4209719.0
668,8395.5,2018-05-22 02:15:00,8416.0,8389.0,8399.0,0.0,8366.500,ok,1483758.0
686,8399.0,2018-05-22 03:45:00,8414.5,8366.0,8366.5,0.0,8320.500,ok,2352308.0
700,8419.5,2018-05-22 04:55:00,8424.0,8392.5,8392.0,0.0,8327.000,ok,1369983.0
780,8327.0,2018-05-22 11:35:00,8356.0,8314.5,8314.5,0.0,8281.000,ok,1049420.0
824,8319.5,2018-05-22 15:15:00,8359.5,8301.5,8345.0,0.0,8303.000,ok,4397959.0
849,8324.0,2018-05-22 17:20:00,8389.0,8291.0,8300.5,0.0,8300.000,ok,4867295.0
891,8237.5,2018-05-22 20:50:00,8255.5,8236.5,8240.0,0.0,8200.000,ok,866655.0
896,8244.0,2018-05-22 21:15:00,8259.0,8198.5,8203.0,0.0,8180.000,ok,3301054.0
911,8297.0,2018-05-22 22:30:00,8300.0,8230.5,8232.0,0.0,8180.000,ok,9478971.0
978,8250.0,2018-05-23 04:05:00,8273.0,8223.0,8223.0,0.0,8206.500,ok,1153311.0
1017,8159.5,2018-05-23 07:20:00,8173.0,8136.5,8140.0,0.0,8087.000,ok,1469706.0
1029,8153.0,2018-05-23 08:20:00,8168.0,8113.0,8112.5,0.0,8000.000,ok,2334730.0
1069,7993.0,2018-05-23 11:40:00,7999.5,7982.0,7987.5,0.0,7906.000,ok,407595.0
1122,8030.0,2018-05-23 16:05:00,8045.5,8005.0,8025.5,0.0,8002.500,ok,5158486.0
1144,8000.0,2018-05-23 17:55:00,8029.0,7920.0,7931.0,0.0,7860.500,ok,8909126.0

In [9]:
if (bearin.index[0] < bullin.index[0]) & (bearin.index[-1] > bullin.index[-1]):
    short = bearin["close"].sum() - bullin["close"].sum() - float(bearin.tail(1)["close"])
    long = bearin["close"].sum() - bullin["close"].sum() - float(bearin.head(1)["close"])
    print(1)
    print(short)
    print(long)
    profit = short + long
    
if (bearin.index[0] > bullin.index[0]) & (bearin.index[-1] > bullin.index[-1]):
    short = bearin["close"].sum() - bullin["close"].sum() - float(bearin.tail(1)["close"]) + float(bullin.head(1)["close"])
    long = bearin["close"].sum() - bullin["close"].sum() 
    print(2)
    print(short)
    print(long)
    profit = short + long
    
if (bearin.index[0] < bullin.index[0]) & (bearin.index[-1] < bullin.index[-1]):
    short = bearin["close"].sum() - bullin["close"].sum() 
    long = bearin["close"].sum() - bullin["close"].sum() - float(bearin.head(1)["close"]) + float(bullin.tail(1)["close"])
    print(3)
    print(short)
    print(long)
    profit = short + long
    
if (bearin.index[0] > bullin.index[0]) & (bearin.index[-1] < bullin.index[-1]):
    short = bearin["close"].sum() - bullin["close"].sum() + float(bullin.head(1)["close"])
    long = bearin["close"].sum() - bullin["close"].sum() + float(bullin.tail(1)["close"])
    print(4)
    print(short)
    print(long)
    profit = short + long

2
-557.0
-787.5

In [10]:
profit

-1344.5

In [11]:
bullin.index[0]

10